/* custom fonts */
@font-face {
    font-family: Roundo;
    src: url(fonts/Roundo-Regular.woff2);
    font-family: Supreme;
    src: url(fonts/Supreme-Regular.woff2);
    font-family: Jost;
    src: url(fonts/Jost-Regular.ttf);
    font-family: Jakarta;
    src: url(fonts/PlusJakartaSans-Regular.woff2);
    font-family: JakartaLightItalic;
    src: url(fonts/PlusJakartaSans-LightItalic.woff2);
}

/* for the entire document*/
.body {
    margin: 0;
}

/* header */
.header {
    background-color: #1f2937;
    position: relative;
}

/* header logo on the top left */
.headerLogo {
    font-family: Jost;
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
    padding: 15px;
    float: left;
}

/* right side links */
.rightLinks {
    font-family: Jost;
    color: #E5E7EB;
    font-size: 18px;
    gap: 15px;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

/* for the header left side */
.headerContainer1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
    float: left;
    margin: 50px;
    width: 50%;
}

/* header title (big letters) */
.headerTitle {
    font-family: Supreme;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
    margin-left: 15px;
}

/* header small description (small letters) */
.text {
    font-family: Jost;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    
}

/* header sign up button */
.signUp {
    margin: 15px;
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
    -webkit-animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
            animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}

.signUp:hover {
    -webkit-animation: gradient 3s infinite;
            animation: gradient 3s infinite;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.signUp:active {
    -webkit-animation: gradient 3s infinite;
            animation: gradient 3s infinite;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* header on the right side */
.headerContainer2 {
    margin: 15px;
    display: flex;
    padding: 50px;
}

/* second part of the page*/
.info {
    margin: 100px;
}

/* title on the second part of the page */
.textInfo {
    font-family: Supreme;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

/* Images of the second part of the page */
.infoImages {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    
}

/* bottom text of the images */
.picText {
    font-size: 18px;
    color: #1f2937;
    display: flex;
    justify-content: space-around;
    
}

/* Third part of the page */
.quotes {
    background-color: #E5E7EB;
    padding: 100px;
}

/* reviews left */
.bigText {
    font-family: JakartaLightItalic;
    color: #1f2937;
    font-size: 36px;
    display: flex;
    align-items: center;
    
}

/* sign of the review */
.signQuotes {
    color: #1f2937;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    
}

/* Fourth part of the page */
.boxContainer {
    background-color: #ffffff;
}

/* blue box with the rounded corners*/
.box {
    background-color: #3882f6;
    padding: 100px;
    border-radius: 30px;
}

/* text inside the blue box */
.boxText {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
}

/* small text inside the blue box */
.boxTextSmall {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    align-content: flex-start;
}

/* blue box button */
.contButton {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    
}

.botButton {
    text-decoration: none;
    position: absolute;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 9em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
}

.botButton:hover {
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.botButton:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

.botButton:hover::before {
    filter: blur(20px);
}

.botButton:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

/* footer */
.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 15px;
    border-radius: 15px;
}

/* getting rid of bullets of the list */
ul {
    list-style-type: none;
}

/* getting rid of the underline in the links */
a:link {
    text-decoration: none;
    color: #E5E7EB;
}

/* changing the color of the visited links */
a:visited {
    color: #E5E7EB;
}