@font-face {
    font-family: Roundo;
    src: url(fonts/Roundo-Regular.woff2);
    font-family: Supreme;
    src: url(fonts/Supreme-Regular.woff2);
    font-family: Jost;
    src: url(fonts/Jost-Regular.ttf);
    font-family: Jakarta;
    src: url(fonts/PlusJakartaSans-Regular.woff2);
    font-family: JakartaLightItalic;
    src: url(fonts/PlusJakartaSans-LightItalic.woff2);
}

.body {
    margin: 0;
}

.header {
    background-color: #1f2937;
    position: relative;
}

.headerLogo {
    font-family: Jost;
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
    padding: 15px;
    float: left;
}

.rightLinks {
    font-family: Jost;
    color: #E5E7EB;
    font-size: 18px;
    gap: 15px;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.headerContainer1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
    float: left;
    margin: 50px;
    width: 50%;
}

.headerTitle {
    font-family: Supreme;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
    margin-left: 15px;
}

.text {
    font-family: Jost;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    
}

.signUp {
    margin: 15px;
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
    -webkit-animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
            animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}

.signUp:hover {
    -webkit-animation: gradient 3s infinite;
            animation: gradient 3s infinite;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.signUp:active {
    -webkit-animation: gradient 3s infinite;
            animation: gradient 3s infinite;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.headerContainer2 {
    margin: 15px;
    display: flex;
    padding: 50px;
}


.info {
    margin: 100px;
}

.textInfo {
    font-family: Supreme;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;

}

.infoImages {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    
}

.picText {
    font-size: 18px;
    color: #1f2937;
    display: flex;
    justify-content: space-around;
    
}

.quotes {
    background-color: #E5E7EB;
    
}

.bigText {
    font-family: JakartaLightItalic;
    color: #1f2937;
    font-size: 36px;
}

.signQuotes {
    color: #1f2937;
    font-size: 18px;
    display: flex;
}

.box {
    background-color: #3882F6;
}
.boxText {
    color: #E5E7EB;
    font-size: 18px;
}

.boxTextSmall {
    color: #E5E7EB;
    font-size: 18px;
}

.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}